fastapi[standard]
uvicorn[standard]
pre-commit
pydantic-settings
SQLAlchemy~=2.0.41
alembic~=1.16.2
psycopg2-binary~=2.9.10
python-dotenv
pydantic
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose
